name: Flutter CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.1'

      - run: flutter pub get

      - run: flutter analyze

      - name: Run tests with coverage
        run: flutter test --coverage
        # continue-on-error: true    # 暫定で止めたくない場合

      - name: Debug coverage #ディレクトリ中身
        if: always()
        run: |
          echo "=== coverage folder contents ==="
          ls -R coverage || true

      - run: flutter build apk --debug

      # coverage ファイルをアップロードしたい場合のみ
      - name: Upload coverage report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage/lcov.info
        # continue-on-error: true    # テスト未整備時の暫定対応
